* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transform: translateY(50%);
}

.title {
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid grey;
    width: 150%;
    height: 150%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 50%;
    margin: 0 auto;
}

.input>label {
    font-size: larger;
}

.result {
    text-align: center;
}

.action {
    transform: translateX(10%);
}

.action>input {
    width: 80%;
    padding: 0.5rem;
}